@import "./../../../styles/colors";

.button {
  padding: 10px 15px;
  background-color: $orange;
  border: none;
  color: white;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
