@import './../../../styles/colors';

.selectContainer {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: $light-gray;
  font-weight: bold;
  font-size: .8em;
  & p {
    padding: 0 10px;
    color: $gray;
  }
}
