@import "./../../../styles/colors";

.countArrow {
  cursor: pointer;
  width:20px;
  text-align:center;
  font-size: 10px;
}

.countArrowsContainer {
  display: grid;
  align-items: center;
}
.count{
  width: 50px;
  text-align:center;
  border:none;
  background-color: $light-gray;
  color: $gray;
}

.countBox {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 40px;
  background-color: $light-gray;
  color: $gray;
}