@import "./../../styles/colors";

.navigationItem {
  margin: 0 0 30px 0;
  a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    &:hover {
      color: $orange;
      &::after {
        left: 0;
      }
    }
    &::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 30px;
      height: 3px;
      position: absolute;
      left: -150px;
      margin-top: 11px;
      background-color: #fbb710;
      z-index: 10;
      content: "";
    }
    &.active::after {
      left: 0;
    }
  }
}
